/* Styling. Grand Central Station. */
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";


@import url('https://fonts.googleapis.com/css?family=Poppins');
    
/*
Color Palette
    1 - #c9596b
    2 - #243745
    3 - #6b8048
    4 - #65a69e
    5 - #eab721
*/


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #fff;
}

h1 {
	font-size: 1.5em; /* 48px / 16px = 3em */
	text-align: center;
    margin: 23.08px

}

h4 {
    text-align: center;
   font-size: .8em;
}



// Portfolio


main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

main img {
    box-shadow: none; 
    max-width: 250px;
    align-items: center;
   
    
}

// Portfolio Items
figure {
    padding: 1em;
    text-align: center;
    width: 300px;
}

GoogleDoodle figure {
    width: 1200px;
    margin-bottom: 0;
}

GoogleDoodle img {
    max-width: 500px;
}

GoogleDoodle h4 {
    margin-bottom: 0;
}

clickhere h4 {
   margin-top: 0;
    padding-bottom: 2em;
}


// Main Navigation

nav ul {
    display: flex;
    justify-content: center;
  /* Experiment with `justify-content` */
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    font-size: .5em;
	line-height: 1.5em;
    list-style: none;
}

nav a:link, 
nav a:visited {
  color: #000;
  display: block;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  
  /* Override Text Links */
  border-bottom: none;
}

nav a:hover,
nav a:active {
  color: #fff;
  background: #65a69e;
  border-radius: 2.5px;
  transition: 
    background .5s,
    border-radius 1s;
}

// Click Here link

h4 a:link, 
h4 a:visited {
	color: #c9596b;
	text-decoration: none;
}

h4 a:focus {
  background: #eab721;  
  color: #c9596b;
}

h4 a:hover, 
h4 a:active {
	color: #eab721;
	border-bottom: 4px double #6d6e71;
}

// Footer

.main-footer img, 
.main-footer a:active, 
.main-footer a:hover {
    box-shadow: none;
    height: 45px;
    margin: 0 5px 6px 5px;
    width: 45px;
    border-bottom: none;

    
}

.main-footer {
    text-align: center;
    font-size: 75%;
   
}

// Media Queries

// Tablet 
@media only screen and (min-width: 48em)
 and (max-width: 63.9375em){
     
    h1 {
        font-size: 2.5em;
        margin: 36.08px;
     }
    
    nav li {
    font-size: .8em;
    }
     
    }

// Desktop
@media only screen and (min-width: 64em) {


    h1 {
        font-size: 2.5em;
        margin: 36.08px;
    } 

    nav li {
    font-size: .8em;

    }
    
    }